.seguros-bg {
    background: var(--cor-11);
}

.seguros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 60px 0;
    margin: 0 20px;
    align-items: center;  
}

.seguros h2 {
    grid-column: 1 / -1;
}

.seguros-item {
    display: grid;
    grid-template-columns: 1fr auto;
    background: var(--cor-12);
    padding: 32px 32px 32px 60px;
}

.seguros-item h3 {
    margin-bottom: 40px;
    text-transform: uppercase;
}

.seguros-item span {
    display: block;
    grid-column: 2;
    text-align: right;
}

.seguros-item ul {
    grid-column: 1 / -1;
    margin-bottom: 32px;
}

.seguros-item li {
    display: flex;
    position: relative;
    align-items: center;
}

.seguros-item li + li {
    margin-top: 20px;
}

.seguros-item li::before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 9px;
    position: absolute;
    left: -21px;
    background-image: url(../../images/icones/lista.svg);
}

.seguros-item a {
    grid-column: 1 / -1;
}

@media (max-width: 800px) {
    .seguros {
        grid-template-columns: 1fr;
    }
}