.bicicletas-lista {
    padding: 60px 0 120px;
}

.bicicletas-lista h2 {
    margin: 0 auto 40px;
}

.bicicletas-lista-item {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    gap: 40px;
    padding: 0 20px 20px;
    overflow-x: auto;
}

.bicicletas-lista-item li {
    min-width: 280px;
}

.bicicletas-lista a {
    display: block;
}

.bicicletas-lista img {
    margin-bottom: 16px;
}

.bicicletas-lista h3 {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.bicicletas-lista h3::before {
    content: " ";
    display: inline-block;
    height: 8px;
    width: 12px;
    margin-right: 8px;
    background: var(--cor-p1);
    transition: width .2s;
}

.bicicletas-lista a:hover h3::before {
    width: 24px;
}

.bicicletas-lista li span {
    padding-left: 20px;
}

@media (max-width: 800px) {
    .bicicletas-lista {
        padding-bottom: 60px;
    }

    .bicicletas-lista-item {
        gap: 20px;
    }
}