.bicicletas-bg {
    background: linear-gradient(to right, var(--cor-0) 20%, var(--cor-11) 0);
}

.bicicletas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: url(../../images/dec/bottom-right.svg) no-repeat top 40px right 20px;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.bicicletas-img {
    position: relative;
}

.bicicletas-img span {
    display: inline-block;
    background: var(--cor-12);
    padding: 8px 16px 8px 8px;
    position: absolute;
    top: 20px;
    right: 0;
    border-radius: 4px 0 0 4px;
}

.bicicletas-conteudo {
    display: grid;
    grid-template-columns: 1fr auto;
    align-content: start;
}

.bicicletas h2, .bicicletas p {
    grid-column: 1 / -1;
}

.bicicletas h2 {
    margin-bottom: 20px;
}

.bicicletas h2::before {
    content: "";
    display: block;
    width: 12px;
    height: 8px;
    background: var(--cor-p1);
    margin-bottom: 8px;
}

.bicicletas p {
    margin-bottom: 32px;
}

.bicicletas a {
    place-self: end;
}

.bicicletas ul {
    display: grid;
}

.bicicletas li {
    display: flex;
    align-items: center;
}

.bicicletas li + li {
    margin-top: 16px;
}

.bicicletas-conteudo img {
    width: 24px;
    margin-right: 8px;
}

@media (max-width: 800px) {
    .bicicletas-bg {
        background: var(--cor-11);
    }

    .bicicletas {
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 600px) {
    .bicicletas-conteudo {
        grid-template-columns: 1fr;
    }

    .bicicletas ul {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 32px;
        font-size: 1rem;
    }

    .bicicletas a {
        place-self: start;
    }
}