.footer-bg {
    background: var(--cor-12);
    padding: 20px;
}

.footer {
    display: grid;
    grid-template-columns: 3fr 5fr 3fr;
    gap: 40px;
    padding: 60px 0;
}

.footer h3, .footer-contato ul {
    margin-bottom: 32px;
}

.footer-contato li:nth-child(even):after {
    content: "";
    display: block;
    max-width: 360px;
    height: 2px;
    background: var(--cor-11);
    margin-top: 16px;
}

.footer li {
    margin-bottom: 16px;
}

.footer-redes {
    display: flex;
    gap: 32px;
}

.footer a:hover {
    color: var(--cor-0);
}

.footer-copy {
    grid-column: 1 / -1;
    margin-top: 40px;
}

@media (max-width: 800px) {
    .footer > img {
        display: none;
    }

    .footer {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .footer {
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .footer-copy {
        margin-top: 0;
    }
}