* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}
