.header-bg {
    background: var(--cor-12);
}

.header {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu a {
    display: inline-block;
    position: relative;
    padding: 16px 0;
}

.header-menu a::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 0;
    margin-top: 4px;
    background: var(--cor-0);
    transition: .3s;
}

.header-menu a:hover::after {
    width: 100%;
}

@media (max-width: 800px) {
    .header-menu {
        gap: 20px;
    }

    .header-menu a {
        background: var(--cor-11);
        padding: 12px 16px;
        border-radius: 4px;
    }

    .header-menu a:hover {
        background: var(--cor-10);
    }

    .header-menu a::after {
        display: none;
    }
}

@media (max-width: 600px) {
    .header-menu {
        gap: 12px;
    }

    .header-menu a {
        padding: 8px 12px;
        font-size: .875rem;
    }
}