* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.header-bg {
    background: #000;
}

.header {
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu a {
    display: inline-block;
    position: relative;
    padding: 16px 0;
    color: #fff;
    font-size: 1.125rem;
}

.header-menu a::after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 0;
    margin-top: 4px;
    background: #fff;
    transition: .3s;
}

.header-menu a:hover::after {
    width: 100%;
}

img {
    display: block;
    max-width: 100%;
}

.introducao-bg {
    background: #000;
    color: #fff;
}

.introducao {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
    padding: 0 20px;
    margin: 0 auto;
}

.introducao-conteudo {
    align-self: flex-end;
    padding-bottom: 80px;
}

.introducao h1 {
    margin-bottom: 32px;
    font-size: 4rem;
    line-height: 1.125;
}

.introducao h1 span {
    color: #fb0;
}

.introducao p {
    margin-bottom: 20px;
    color: #b2b2b2;
    font-size: 1.5rem;
    line-height: 1.5;
}

.introducao a {
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(#ffbf00, #f2a50c);
    color: #320;
    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 1.33;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.introducao a:hover {
    background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 800px) {
    .header-menu {
        gap: 20px;
    }

    .header-menu a {
        background: #111;
        padding: 12px 16px;
        border-radius: 4px;
    }

    .header-menu a:hover {
        background: #2e2e2e;
    }

    .header-menu a::after {
        display: none;
    }
}

@media (max-width: 600px) {
    .header-menu {
        gap: 12px;
    }

    .header-menu a {
        padding: 8px 12px;
        font-size: .875rem;
    }
}