@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import "global/global.css"; /* estilo global */

@import "utilitarios/componentes.css"; /* estilo dos componentes */
@import "utilitarios/tipografia.css"; /* tipografia */
@import "utilitarios/cores.css"; /* cores */
@import "utilitarios/formulario.css"; /* formularios */


@import "global/header.css"; /* estilo do header */
@import "home/introducao.css"; /* estilo do home */
@import "bicicletas/bicicletas-lista.css"; /* estilo da lista de bike */
@import "bicicletas/bicicletas.css"; /* estilo da pag de bikes */
@import "bicicleta/bicicleta.css"; /* estilo da pag individual da bike */
@import "bicicleta/seguro.css"; /* estilo da seguro individual da bike */
@import "home/tecnologia.css"; /* estilo das tecnologias */
@import "home/parceiros.css"; /* estilo dos parceiros */
@import "home/depoimento.css"; /* estilo do depoimento */
@import "seguros/seguros.css"; /* estilo dos seguros */
@import "seguros/vantagens.css"; /* estilo das vantagens dos seguros */
@import "seguros/perguntas.css"; /* estilo das perguntas dos seguros */
@import "global/footer.css"; /* estilo do footer */
@import "contato/contato.css"; /* estilo do contato */
@import "contato/lojas.css"; /* estilo das lojas */
@import "termos/termos.css"; /* estilo dos termos */