@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import "global/global.css"; /* estilo global */

@import "utilitarios/componentes.css"; /* estilo dos componentes */
@import "utilitarios/tipografia.css"; /* tipografia */
@import "utilitarios/cores.css"; /* cores */


@import "global/header.css"; /* estilo do header */
@import "home/introducao.css"; /* estilo do home */
@import "bicicletas/bicicletas-lista.css"; /* estilo da lista de bike */
@import "home/tecnologia.css"; /* estilo das tecnologias */
@import "home/parceiros.css"; /* estilo dos parceiros */
@import "home/depoimento.css"; /* estilo do depoimento */
@import "seguros/seguros.css"; /* estilo dos seguros */
@import "global/footer.css"; /* estilo do footer */