.btn {
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(#ffbf00, #f2a50c);
    color: #320;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-family: 'Poppins';
    font-weight: 600;
    line-height: 1.33;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.btn:hover {
    background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
    .btn {
        padding: 12px 16px;
        font-size: 1rem;
    }
}