.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    width: max-content;
    padding: 16px 32px;
    background: linear-gradient(#ffbf00, #f2a50c);
    color: #320;
    text-transform: uppercase;
    font: 600 1.125rem / 1.33 'Poppins', sans-serif;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.btn:hover {
    background: linear-gradient(#ffb60d, #e59317);
}

.btn.secundario {
    background: var(--cor-10);
    color: var(--cor-2);
}

.btn.secundario:hover {
    background: var(--cor-9);
}

.link {
    display: inline-block;
    color: var(--cor-p1);
    font: 500 1.5rem / 1.5 "Poppins", sans-serif;
    text-transform: uppercase;
}

.link::after {
    content: "";
    display: block;
    height: 4px;
    width: 100%;
    background: currentColor;
}

.link:hover {
    color: var(--cor-0);
}

@media (max-width: 600px) {
    .btn {
        padding: 12px 16px;
        font-size: 1rem;
    }
}