:root {
    --cor-0: #fff;
    --cor-1: #f7f7f7;
    --cor-2: #ededed;
    --cor-3: #dedede;
    --cor-4: #ccc;
    --cor-5: #b2b2b2;
    --cor-6: #9c9c9c;
    --cor-10: #2e2e2e;
    --cor-11: #111;
    --cor-12: #000;
    --cor-p1: #fb0
}

.cor-0 {
    color: var(--cor-0);
}

.cor-1 {
    color: var(--cor-1);
}

.cor-2 {
    color: var(--cor-2);
}

.cor-3 {
    color: var(--cor-3);
}

.cor-4 {
    color: var(--cor-4);
}

.cor-5 {
    color: var(--cor-5);
}

.cor-6 {
    color: var(--cor-6);
}

.cor-7 {
    color: #717171;
}

.cor-8 {
    color: #595959;
}

.cor-9 {
    color: #404040;
}

.cor-10 {
    color: var(--cor-10);
}

.cor-p1 {
    color: var(--cor-p1);
} 