.texto-grande {
    font-size: 4rem;
    line-height: 1.125;
    font-family: 'Poppins';
    font-weight: 600;
}

.texto-medio {
    font-size: 1.5rem;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 1.5;
}