#orcamento {
    background: linear-gradient(var(--cor-11) 550px, var(--cor-1) 0);
}

.orcamento {
    display: grid;
    grid-template-columns: 5fr 7fr;
    padding-bottom: 120px;
}

.orcamento h2 {
    display: flex;
    position: relative;
    text-transform: uppercase;
    align-items: center;
}

.orcamento h2::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 8px;
    background: var(--cor-p1);
    position: absolute;
    left: -12px;
}

.orcamento-produto, .orcamento-dados {
    padding: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.orcamento-produto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--cor-12);
    gap: 20px;
    align-content: start;
    border-radius: 4px 0 0 4px;
}

.orcamento-produto > * {
    grid-column: 1 / -1;
}

.orcamento-produto input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.orcamento-produto input:checked + label span {
    display: inline-block;
}

.orcamento-produto input:checked + label::before {
    border-color: var(--cor-7);
    box-shadow: inset 0 0 0 3px var(--cor-0), inset 0 0 0 6px var(--cor-7);
}

.orcamento-produto input:checked + label {
    background: var(--cor-0);
    color: var(--cor-11);
}

.orcamento-produto input:focus + label {
    box-shadow: 0 0 0 2px var(--cor-p1);
    border-color: var(--cor-12);
}

.orcamento-produto > label {
    grid-column: initial;
}

.orcamento-produto label {
    display: grid;
    grid-template-columns: auto 1fr auto;
    background: var(--cor-10);
    color: var(--cor-4);
    padding: 12px 16px;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cor-10);
    font: 400 1rem / 1.5 "Poppins", sans-serif;
    cursor: pointer;
}

.orcamento-produto label::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
    border: 1px solid var(--cor-6);
    border-radius: 50%;
}

.orcamento-produto label:hover {
    background: var(--cor-9);
    border-color: var(--cor-9);
}

.orcamento-produto label span {
    display: none;
}

.orcamento-dados {
    background: var(--cor-0);
    border-radius: 0 4px 4px 0;
}

.orcamento-conteudo {
    display: none;
}

.orcamento-conteudo h2,
.orcamento-dados h2:nth-of-type(n + 2) {
    margin-top: 20px;
}

#bikcraft:checked ~ #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro {
    display: grid;
    gap: 20px;
}

.orcamento-detalhes {
    display: none;
    grid-template-columns: 1fr 1fr;
    background: var(--cor-0);
    padding: 20px;
    border-radius: 4px;
    align-items: center;
}

.orcamento-detalhes li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.orcamento-detalhes li img {
    width: 16px;
    margin-right: 8px;
}

.orcamento-produto input:checked + label + .orcamento-detalhes {
    display: grid;
}

@media (max-width: 1200px) {
    .orcamento-produto, .orcamento-dados {
        padding: 32px;
    }
}

@media (max-width: 800px) {
    .orcamento {
        grid-template-columns: 1fr
    }

    .orcamento-produto {
        border-radius: 4px 4px 0 0;
    }

    .orcamento-dados {
        border-radius: 0 0 4px 4px;
    }
}

@media (max-width: 400px) {
    .orcamento-produto {
        grid-template-columns: 1fr;
    }
}