.depoimento {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: var(--cor-p1);
    overflow: hidden;
}

.depoimento img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}

.depoimento-conteudo {
    padding: 40px 40px 80px 80px;
    align-self: self-end;
}

.depoimento-conteudo p {
    max-width: 32ch;
    position: relative;
    margin-bottom: 32px;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 900;
}

.depoimento p::before, .depoimento p::after {
    position: absolute;
    font-size: 5rem;
    color: var(--cor-p2);
}

.depoimento p::before {
    content: '“';
    left: -50px;
    top: -20px;
}

.depoimento p::after {
    content: '”';
}

@media (max-width: 800px) {
    .depoimento {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .depoimento img {
        max-height: 200px;
        object-fit: cover;
    }

    .depoimento-conteudo {
        padding: 40px 20px;
        justify-self: center;
    }

    
}