.introducao-bg {
    background: #000;
    color: #fff;
    box-shadow: inset 0 -120px #fff;
}

.introducao {
    display: grid;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr;
    gap: 0 40px;
    padding: 0 20px;
    margin: 0 auto;
}

.introducao-conteudo {
    align-self: flex-end;
    padding-bottom: 200px;
}

.introducao img {
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

.introducao h1 {
    margin-bottom: 32px;
    font-size: 4rem;
    line-height: 1.125;
    font-family: 'Poppins';
    font-weight: 600;
}

.introducao h1 span {
    color: #fb0;
}

.introducao p {
    margin-bottom: 20px;
    color: #b2b2b2;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: 'Roboto';
    font-weight: 400;
}


@media (max-width: 1200px) {
    .introducao h1 {
        font-size: 3rem;
    }

    .introducao p {
        font-size: 1.125rem;
    }
}

@media (max-width: 800px) {
    .introducao-bg {
        background: #111;
        padding-top: 40px;
        box-shadow: inset 0 -60px #fff;
    }

    .introducao {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .introducao-conteudo {
        padding-bottom: 0;
    }

    .introducao h1 {
        font-size: 2rem;
        margin-bottom: 16px;
    }

    .introducao img {
        height: 300px;
        width: 100%;
    }
}