.tecnologia-bg {
    background: var(--cor-11);
    box-shadow: inset 0 80px var(--cor-0), inset 0 -80px var(--cor-0);
}

.tecnologia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.tecnologia-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.tecnologia-conteudo {
    padding: 160px 0;
}

.tecnologia-conteudo > span {
    display: block;
    margin-bottom: 20px;
}

.tecnologia-conteudo h2 {
    margin-bottom: 32px;
}

.tecnologia-conteudo > p {
    margin-bottom: 20px;
}

.tecnologia a {
    margin-bottom: 80px;
}

.tecnologia-vantagem {
    display: flex;
    gap: 40px;
}

.tecnologia-vantagem h3 {
    width: max-content;
    margin: 8px 0;
}

.tecnologia-vantagem img {
    width: 24px;
}

@media (max-width: 800px) {
    .tecnologia-bg {
        box-shadow: initial;
    }

    .tecnologia {
        grid-template-columns: 1fr;
    }

    .tecnologia-conteudo {
        padding: 60px 0;
    }

    .tecnologia-img {
        display: none;
    }

    .tecnologia a {
        margin-bottom: 60px;
    }
}

@media (max-width: 600px) {
    .tecnologia-vantagem {
        flex-direction: column;
    }
}